<div class="container-main">
  <%= form_with model: @teacher, local: true do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br>

    <%= form.label :registration %>
    <%= form.text_field :registration %>
    <br>
    
    <%= form.label :discipline %>
    <%= form.select(:discipline_id, discipline_all,
     { include_blank: true })
    %>
    <br>

    <%= form.submit %>
  <% end %>
</div>
